@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*{
    margin: 0;
}
html,
body{
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%); 
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; 
}

body{
    display: grid;
    place-items: center;
    background: url(images/Desktop.svg) no-repeat center/cover;
    background-color: #121214;
}

.faixa{
    display: flex;
    flex-direction: column;
    height: 168px;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/DesktopCard.svg) no-repeat center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

main:hover{
    transform: translateY(20deg);

}


.container{
    display: flex;
    flex-direction: column;
    max-width: 358px;
    width: 100vw;
    max-height: 541px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
}


.avatar {
    width: 10rem;
    margin: 3.2rem auto 0;
    position: relative; 
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover; 

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
}

h1{
    font-size: 1.5em;

    margin-top: 1.5rem;

}

a{
    color: var(--grey); 
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 2rem;
}

ul{
    margin-top: 4rem;

    list-style: none; 
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.ico{
    font-size: 30px;
}

.ico:hover{
    color: rgb(248, 162, 44);
}

@media screen and (max-width: 1800px) {
    .faixa{
        display: flex;
        flex-direction: column;
        width: 60px;
        max-height: 130px;
    }

    
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/DesktopCard.svg) no-repeat center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover; 

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
}


    
}


@media screen and (max-width: 667px) {
    .faixa{
        display: none;
    }
    main{
        background: url(images/Mobile.svg) no-repeat center;
        width: 100vw;
        min-height: 812px;
        height: 100vh;
    }

    .avatar {
        width: 10rem;
        margin: 11.4rem auto 0;
        position: relative; 
    }

}
